a {
    font-size: 16px;
    text-decoration: solid;
    color: white;
    margin-bottom: 4%;
}

li::marker {
    color: white;
}

div {
    color: white;
    align-self: center;
}

.flex-container {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.flex-container p {
    font-size: 40px;
    color: white;
    align-self: center;
}

.links {
    align-self: center;
    margin-right: 1%;
    flex-direction: row;
}